synapse-wrkspc-gc/TemplateForWorkspace.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workspaceName": {
			"type": "string",
			"metadata": "Workspace name",
			"defaultValue": "synapse-wrkspc-gc"
		},
		"AzureBlobStorage1_csv_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1_csv'"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"AzureDataLakeStorage1_csv_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1_csv'"
		},
		"AzureSqlDatabase1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AzureSqlDatabase1'"
		},
		"synapse-wrkspc-gc-WorkspaceDefaultSqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'synapse-wrkspc-gc-WorkspaceDefaultSqlServer'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=tcp:synapse-wrkspc-gc.sql.azuresynapse.net,1433;Initial Catalog=@{linkedService().DBName}"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stacdatacompanyprod01.dfs.core.windows.net/"
		},
		"AzureDataLakeStorage1_csv_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stacdatacompanyprod01.dfs.core.windows.net/"
		},
		"AzureSqlDatabase1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "azsqlpaasetldbsrvr.database.windows.net"
		},
		"AzureSqlDatabase1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "etldb"
		},
		"AzureSqlDatabase1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "etladmin"
		},
		"synapse-wrkspc-gc-WorkspaceDefaultStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stacdatacompanyprod01.dfs.core.windows.net"
		}
	},
	"variables": {
		"workspaceId": "[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('workspaceName'), '/Pipeline 1_cicd')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Wait1_cicd",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-08T07:28:13Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Pipeline 1_validateschema')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DelimitedText1schema",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"structure"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Get Metadata2",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DelimitedText1",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"structure"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Metadata2",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Get Metadata1').output.structure,activity('Get Metadata2').output.structure)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "If Condition1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-08T04:35:58Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/DelimitedText1schema')]",
				"[concat(variables('workspaceId'), '/datasets/DelimitedText1')]",
				"[concat(variables('workspaceId'), '/datasets/AzureSqlTable1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureSqlTable1')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Company",
						"type": "nvarchar"
					},
					{
						"name": "Month",
						"type": "nvarchar"
					},
					{
						"name": "Sale2018",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Sale2019",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Sale2020",
						"type": "float",
						"precision": 15
					},
					{
						"name": "SaleDate",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SalesData_DWH"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DelimitedText1')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1_csv",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "SalesData.csv",
						"fileSystem": "outputcntr"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Company",
						"type": "String"
					},
					{
						"name": "Month",
						"type": "String"
					},
					{
						"name": "Sale2018",
						"type": "String"
					},
					{
						"name": "Sale2019",
						"type": "String"
					},
					{
						"name": "Sale2020",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/AzureDataLakeStorage1_csv')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DelimitedText1schema')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1_csv",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "SalesData_Modified.csv",
						"folderPath": "csv",
						"container": "ctdatabronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Company",
						"type": "String"
					},
					{
						"name": "Month",
						"type": "String"
					},
					{
						"name": "Sale2018",
						"type": "String"
					},
					{
						"name": "sale19",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/AzureBlobStorage1_csv')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Json1')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "json",
						"fileSystem": "ctdatabronze"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureBlobStorage1_csv')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_csv_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureDataLakeStorage1_csv')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_csv_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_csv_accountKey')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabase1_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabase1_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabase1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AzureSqlDatabase1_password')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/synapse-wrkspc-gc-WorkspaceDefaultSqlServer')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"DBName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('synapse-wrkspc-gc-WorkspaceDefaultSqlServer_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/synapse-wrkspc-gc-WorkspaceDefaultStorage')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('synapse-wrkspc-gc-WorkspaceDefaultStorage_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/IntegrationRuntime1')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/WorkspaceSystemIdentity')]",
			"type": "Microsoft.Synapse/workspaces/credentials",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SQL script 1')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "SELECT TOP (100) * FROM [banking_metadata].[dbo].[banking_metadata_pipeline_runs]",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "banking_metadata",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/CheckMetadata')]",
			"type": "Microsoft.Synapse/workspaces/notebooks",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"nbformat": 4,
				"nbformat_minor": 2,
				"bigDataPool": {
					"referenceName": "ApSprkPool",
					"type": "BigDataPoolReference"
				},
				"sessionProperties": {
					"driverMemory": "28g",
					"driverCores": 4,
					"executorMemory": "28g",
					"executorCores": 4,
					"numExecutors": 2,
					"conf": {
						"spark.dynamicAllocation.enabled": "false",
						"spark.dynamicAllocation.minExecutors": "2",
						"spark.dynamicAllocation.maxExecutors": "2",
						"spark.autotune.trackingId": "252ead22-4101-4a74-9fa3-a9e07d69f5c6"
					}
				},
				"metadata": {
					"saveOutput": true,
					"enableDebugMode": false,
					"kernelspec": {
						"name": "synapse_pyspark",
						"display_name": "Synapse PySpark"
					},
					"language_info": {
						"name": "sql"
					},
					"a365ComputeOptions": {
						"id": "/subscriptions/098ae160-379b-4c33-93c3-c749b638d510/resourceGroups/db-rg/providers/Microsoft.Synapse/workspaces/synapse-wrkspc-gc/bigDataPools/ApSprkPool",
						"name": "ApSprkPool",
						"type": "Spark",
						"endpoint": "https://synapse-wrkspc-gc.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/ApSprkPool",
						"auth": {
							"type": "AAD",
							"authResource": "https://dev.azuresynapse.net"
						},
						"sparkVersion": "3.5",
						"nodeCount": 3,
						"cores": 4,
						"memory": 28,
						"automaticScaleJobs": false
					},
					"sessionKeepAliveTimeout": 30
				},
				"cells": [
					{
						"cell_type": "code",
						"metadata": {
							"editable": true,
							"run_control": {
								"frozen": false
							},
							"collapsed": false
						},
						"source": [
							"-- Databricks notebook source\n",
							"select * from banking_metadata_tables;\n",
							"\n",
							"-- COMMAND ----------\n",
							"\n",
							"select * from banking_metadata_table_parameters;\n",
							"\n",
							"-- COMMAND ----------\n",
							"\n",
							"select * from banking_metadata_pipeline_runs order by start_time desc;\n",
							"\n",
							"-- COMMAND ----------\n",
							"\n",
							"select * from banking_metadata_table_parameters where table_id = 4;\n",
							"\n",
							"-- COMMAND ----------\n",
							"\n",
							"select t.table_name, tp.parameter_value \n",
							"from banking_metadata_tables t \n",
							"join banking_metadata_table_parameters tp\n",
							"where t.table_id = tp.table_id \n",
							"and tp.parameter_name='load_type';\n",
							"\n",
							"-- COMMAND ----------\n",
							"\n",
							"select * from banking_metadata_table_watermarks;"
						],
						"outputs": [],
						"execution_count": 6
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Notebook 1_cicd')]",
			"type": "Microsoft.Synapse/workspaces/notebooks",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"nbformat": 4,
				"nbformat_minor": 2,
				"sessionProperties": {
					"driverMemory": "28g",
					"driverCores": 4,
					"executorMemory": "28g",
					"executorCores": 4,
					"numExecutors": 2,
					"runAsWorkspaceSystemIdentity": false,
					"conf": {
						"spark.dynamicAllocation.enabled": "false",
						"spark.dynamicAllocation.minExecutors": "2",
						"spark.dynamicAllocation.maxExecutors": "2",
						"spark.autotune.trackingId": "0228d3b9-76ad-47a4-a042-1479d2a6b448"
					}
				},
				"metadata": {
					"saveOutput": true,
					"enableDebugMode": false,
					"language_info": {
						"name": "python"
					},
					"sessionKeepAliveTimeout": 30
				},
				"cells": [
					{
						"cell_type": "code",
						"source": [
							"print(\"Hello work, CICD\")"
						],
						"outputs": []
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SetupMetadata')]",
			"type": "Microsoft.Synapse/workspaces/notebooks",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"nbformat": 4,
				"nbformat_minor": 2,
				"bigDataPool": {
					"referenceName": "ApSprkPool",
					"type": "BigDataPoolReference"
				},
				"sessionProperties": {
					"driverMemory": "28g",
					"driverCores": 4,
					"executorMemory": "28g",
					"executorCores": 4,
					"numExecutors": 2,
					"conf": {
						"spark.dynamicAllocation.enabled": "false",
						"spark.dynamicAllocation.minExecutors": "2",
						"spark.dynamicAllocation.maxExecutors": "2",
						"spark.autotune.trackingId": "d632e277-8c70-401d-97d0-e86fd0b4240c"
					}
				},
				"metadata": {
					"saveOutput": true,
					"enableDebugMode": false,
					"kernelspec": {
						"name": "synapse_pyspark",
						"display_name": "Synapse PySpark"
					},
					"language_info": {
						"name": "sql"
					},
					"a365ComputeOptions": {
						"id": "/subscriptions/098ae160-379b-4c33-93c3-c749b638d510/resourceGroups/db-rg/providers/Microsoft.Synapse/workspaces/synapse-wrkspc-gc/bigDataPools/ApSprkPool",
						"name": "ApSprkPool",
						"type": "Spark",
						"endpoint": "https://synapse-wrkspc-gc.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/ApSprkPool",
						"auth": {
							"type": "AAD",
							"authResource": "https://dev.azuresynapse.net"
						},
						"sparkVersion": "3.5",
						"nodeCount": 3,
						"cores": 4,
						"memory": 28
					},
					"sessionKeepAliveTimeout": 30
				},
				"cells": [
					{
						"cell_type": "code",
						"metadata": {
							"collapsed": false
						},
						"source": [
							"-- =====================================================\n",
							"-- Create database for metadata\n",
							"-- =====================================================\n",
							"\n",
							"CREATE DATABASE IF NOT EXISTS banking_metadata;\n",
							"--CREATE CATALOG IF NOT EXISTS banking;\n",
							"\n",
							"--CREATE SCHEMA IF NOT EXISTS banking.metadata;\n",
							"-- =====================================================\n",
							"--- 1️⃣ metadata_tables\n",
							"-- Static registry of logical tables\n",
							"-- =====================================================\n",
							"--CREATE TABLE IF NOT EXISTS banking.metadata.tables (\n",
							"CREATE TABLE IF NOT EXISTS banking_metadata_tables (    \n",
							"    table_id            INT,\n",
							"    table_name          STRING,\n",
							"    source_system       STRING,        -- sqlserver / blob\n",
							"    source_schema       STRING,        -- dbo (null for blob)\n",
							"    source_table        STRING,        -- table name (null for blob)\n",
							"    source_path         STRING,        -- blob path (null for sqlserver)\n",
							"    target_layer        STRING,        -- silver/gold\n",
							"    bronze_schema       STRING,        -- bronze\n",
							"    silver_schema       STRING,        -- silver\n",
							"    gold_schema         STRING,        -- gold\n",
							"    active_flag         BOOLEAN,\n",
							"    load_order          INT,\n",
							"    created_at          TIMESTAMP\n",
							")\n",
							"USING DELTA;\n",
							"\n",
							"-- =====================================================\n",
							"-- 2️⃣ metadata_table_parameters\n",
							"-- Processing configuration (load type, PK, watermark)\n",
							"-- =====================================================\n",
							"--CREATE TABLE IF NOT EXISTS banking.metadata.table_parameters (\n",
							"CREATE TABLE IF NOT EXISTS banking_metadata_table_parameters (\n",
							"    table_id            INT,\n",
							"    parameter_name      STRING,        -- load_type / primary_key / watermark_column\n",
							"    parameter_value     STRING,\n",
							"    created_at          TIMESTAMP\n",
							")\n",
							"USING DELTA;\n",
							"\n",
							"-- =====================================================\n",
							"-- 3️⃣ metadata_table_watermarks\n",
							"-- Stores last successful watermark per table\n",
							"-- =====================================================\n",
							"--CREATE TABLE IF NOT EXISTS banking.metadata.table_watermarks (\n",
							"CREATE TABLE IF NOT EXISTS banking_metadata_table_watermarks (\n",
							"    table_id                INT,\n",
							"    last_watermark_value    STRING,     -- flexible type storage\n",
							"    last_updated_at         TIMESTAMP,\n",
							"    last_run_id             BIGINT\n",
							")\n",
							"USING DELTA\n",
							"PARTITIONED BY (table_id);\n",
							"\n",
							"-- =====================================================\n",
							"-- 4️⃣ metadata_pipeline_runs\n",
							"-- Execution audit table\n",
							"-- =====================================================\n",
							"--CREATE TABLE IF NOT EXISTS banking.metadata.pipeline_runs (\n",
							"CREATE TABLE IF NOT EXISTS banking_metadata_pipeline_runs (\n",
							"    run_id              BIGINT,\n",
							"    table_id            INT,\n",
							"    layer               STRING,        -- Bronze / Silver / Gold\n",
							"    start_time          TIMESTAMP,\n",
							"    end_time            TIMESTAMP,\n",
							"    status              STRING,        -- SUCCESS / FAILED\n",
							"    number_of_records   BIGINT,\n",
							"    error_message       STRING\n",
							")\n",
							"USING DELTA\n",
							"PARTITIONED BY (table_id);\n",
							""
						],
						"outputs": [],
						"execution_count": 13
					},
					{
						"cell_type": "code",
						"metadata": {
							"collapsed": false
						},
						"source": [
							"\n",
							"-- COMMAND ----------\n",
							"\n",
							"-- DBTITLE 1,Create Source Volume\n",
							"-- =====================================================\n",
							"-- CREATE SOURCE SCHEMA\n",
							"-- =====================================================\n",
							"\n",
							"CREATE Database IF NOT EXISTS banking_source;\n",
							"\n",
							"\n",
							"-- =====================================================\n",
							"-- CREATE VOLUME FOR SOURCE FILES (BLOB LANDING)\n",
							"-- =====================================================\n",
							"\n",
							"--CREATE VOLUME IF NOT EXISTS banking.source.volume;\n",
							"\n",
							"\n",
							"-- COMMAND ----------\n",
							"\n",
							"-- =====================================================\n",
							"-- INSERT INTO metadata.tables\n",
							"-- =====================================================\n",
							"\n",
							"INSERT INTO banking_metadata_tables VALUES\n",
							"-- 1. Customers (SQL Server)\n",
							"(1, 'customers', 'sqlserver', 'banking', 'customers', NULL, 'silver', 'bronze', 'silver', NULL, TRUE, 1, current_timestamp()),\n",
							"\n",
							"-- 2. Accounts (SQL Server)\n",
							"(2, 'accounts', 'sqlserver', 'banking', 'accounts', NULL, 'silver', 'bronze', 'silver', NULL, TRUE, 2, current_timestamp()),\n",
							"\n",
							"-- 3. Transactions (SQL Server)\n",
							"(3, 'transactions', 'sqlserver', 'banking', 'transactions', NULL, 'silver', 'bronze', 'silver', NULL, TRUE, 3, current_timestamp()),\n",
							"\n",
							"-- 4. Branches (SQL Server - Full Load)\n",
							"(4, 'branches', 'sqlserver', 'banking', 'branches', NULL, 'silver', 'bronze', 'silver', NULL, TRUE, 4, current_timestamp()),\n",
							"\n",
							"-- 5. Credit Bureau Reports (Blob CSV)\n",
							"(5, 'credit_bureau_reports', 'blob', NULL, NULL,\n",
							" '/Volumes/banking/source/volume/credit_bureau_reports/', 'silver',\n",
							" 'bronze', 'silver', NULL, TRUE, 5, current_timestamp()),\n",
							"\n",
							"-- 6. Payment Gateway Logs (Blob CSV)\n",
							"(6, 'payment_gateway_logs', 'blob', NULL, NULL,\n",
							" '/Volumes/banking/source/volume/payment_gateway_logs/', 'silver',\n",
							" 'bronze', 'silver', NULL, TRUE, 6, current_timestamp());\n",
							"\n",
							"-- COMMAND ----------\n",
							"\n",
							"-- DBTITLE 1,Insert metadata\n",
							"\n",
							"\n",
							"\n",
							"\n",
							"-- =====================================================\n",
							"-- INSERT INTO metadata.table_parameters\n",
							"-- =====================================================\n",
							"\n",
							"INSERT INTO banking_metadata_table_parameters VALUES\n",
							"\n",
							"-- ================= CUSTOMERS =================\n",
							"(1, 'load_type', 'MERGE', current_timestamp()),\n",
							"(1, 'primary_key', 'customer_id', current_timestamp()),\n",
							"(1, 'watermark_column', 'updated_at', current_timestamp()),\n",
							"\n",
							"-- ================= ACCOUNTS =================\n",
							"(2, 'load_type', 'MERGE', current_timestamp()),\n",
							"(2, 'primary_key', 'account_id', current_timestamp()),\n",
							"(2, 'watermark_column', 'updated_at', current_timestamp()),\n",
							"\n",
							"-- ================= TRANSACTIONS =================\n",
							"(3, 'load_type', 'APPEND', current_timestamp()),\n",
							"(3, 'primary_key', 'txn_id', current_timestamp()),\n",
							"(3, 'watermark_column', 'txn_timestamp', current_timestamp()),\n",
							"\n",
							"-- ================= BRANCHES =================\n",
							"(4, 'load_type', 'FULL', current_timestamp()),\n",
							"(4, 'primary_key', 'branch_code', current_timestamp()),\n",
							"\n",
							"-- ================= CREDIT BUREAU REPORTS =================\n",
							"(5, 'load_type', 'MERGE', current_timestamp()),\n",
							"(5, 'primary_key', 'customer_id', current_timestamp()),\n",
							"(5, 'watermark_column', 'bureau_pull_date', current_timestamp()),\n",
							"\n",
							"-- ================= PAYMENT GATEWAY LOGS =================\n",
							"(6, 'load_type', 'APPEND', current_timestamp()),\n",
							"(6, 'primary_key', 'txn_id', current_timestamp()),\n",
							"(6, 'watermark_column', 'processed_timestamp', current_timestamp());\n",
							"\n",
							"\n",
							"\n",
							"-- =====================================================\n",
							"-- OPTIONAL: INITIALIZE WATERMARK TABLE\n",
							"-- (Only for INCREMENTAL tables)\n",
							"-- =====================================================\n",
							"\n",
							"INSERT INTO banking_metadata_table_watermarks VALUES\n",
							"(1, '1900-01-01 00:00:00', current_timestamp(), NULL),\n",
							"(2, '1900-01-01 00:00:00', current_timestamp(), NULL),\n",
							"(3, '1900-01-01 00:00:00', current_timestamp(), NULL),\n",
							"(5, '1900-01-01 00:00:00', current_timestamp(), NULL),\n",
							"(6, '1900-01-01 00:00:00', current_timestamp(), NULL);\n",
							"\n",
							"\n",
							"-- COMMAND ----------\n",
							"\n",
							"INSERT INTO banking_metadata_tables\n",
							"VALUES (\n",
							"    7,\n",
							"    'customer_360',\n",
							"    'silver',\n",
							"    NULL,\n",
							"    NULL,\n",
							"    NULL,\n",
							"    'gold',\n",
							"    NULL,\n",
							"    NULL,\n",
							"    'gold',\n",
							"    TRUE,\n",
							"    1,\n",
							"    current_timestamp()\n",
							");\n",
							"\n",
							"-- COMMAND ----------\n",
							"\n",
							"INSERT INTO banking_metadata_tables\n",
							"VALUES\n",
							"(\n",
							"8,\n",
							"'branch_performance',\n",
							"'silver',\n",
							"NULL,\n",
							"NULL,\n",
							"NULL,\n",
							"'gold',\n",
							"NULL,\n",
							"NULL,\n",
							"'gold',\n",
							"TRUE,\n",
							"2,\n",
							"current_timestamp()\n",
							"),\n",
							"\n",
							"(\n",
							"9,\n",
							"'transaction_channel_summary',\n",
							"'silver',\n",
							"NULL,\n",
							"NULL,\n",
							"NULL,\n",
							"'gold',\n",
							"NULL,\n",
							"NULL,\n",
							"'gold',\n",
							"TRUE,\n",
							"3,\n",
							"current_timestamp()\n",
							"),\n",
							"\n",
							"(\n",
							"10,\n",
							"'daily_bank_kpi',\n",
							"'silver',\n",
							"NULL,\n",
							"NULL,\n",
							"NULL,\n",
							"'gold',\n",
							"NULL,\n",
							"NULL,\n",
							"'gold',\n",
							"TRUE,\n",
							"4,\n",
							"current_timestamp()\n",
							");\n",
							"\n",
							"-- COMMAND ----------\n",
							"\n",
							"INSERT INTO banking_metadata_tables\n",
							"VALUES (\n",
							"    11,\n",
							"    'risk_customer_summary',\n",
							"    'silver',\n",
							"    NULL,\n",
							"    NULL,\n",
							"    NULL,\n",
							"    'gold',\n",
							"    NULL,\n",
							"    NULL,\n",
							"    'gold',\n",
							"    TRUE,\n",
							"    1,\n",
							"    current_timestamp()\n",
							");"
						],
						"outputs": [],
						"execution_count": 17
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/LakeDB')]",
			"type": "Microsoft.Synapse/workspaces/databases",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"Ddls": [
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "LakeDB",
							"EntityType": "DATABASE",
							"Origin": {
								"Type": "SPARK"
							},
							"Properties": {
								"IsSyMSCDMDatabase": true
							},
							"Source": {
								"Provider": "ADLS",
								"Location": "abfss://ctdatabronze@stacdatacompanyprod01.dfs.core.windows.net/csv",
								"Properties": {
									"FormatType": "csv",
									"LinkedServiceName": "synapse-wrkspc-gc-WorkspaceDefaultStorage"
								}
							},
							"PublishStatus": "PUBLISHED",
							"ObjectVersion": 1,
							"ObjectId": "ea8987c4-9362-44c8-a88c-29c91adc7c20"
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "ExtTbl",
							"EntityType": "TABLE",
							"TableType": "EXTERNAL",
							"Namespace": {
								"SchemaName": null,
								"DatabaseName": "LakeDB",
								"DatabaseId": null
							},
							"StorageDescriptor": {
								"Distribution": null,
								"Columns": [
									{
										"Name": "C1",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 8000,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									},
									{
										"Name": "C2",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 8000,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									},
									{
										"Name": "C3",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 8000,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									},
									{
										"Name": "C4",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 8000,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									},
									{
										"Name": "C5",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 8000,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									},
									{
										"Name": "C6",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 8000,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									}
								],
								"ColumnSetEntityName": "e7e3406d-fc36-4af4-96c9-f247aca69da9",
								"Format": {
									"InputFormat": "org.apache.hadoop.mapred.SequenceFileInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat",
									"FormatType": "csv",
									"SerializeLib": "org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe",
									"Properties": {
										"path": "abfss://ctdatabronze@stacdatacompanyprod01.dfs.core.windows.net/csv/SalesData_Modified.csv",
										"delimiter": ",",
										"firstRowAsHeader": "false",
										"multiLine": "false",
										"serialization.format": "1",
										"FormatTypeSetToDatabaseDefault": false,
										"header": "false"
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://ctdatabronze@stacdatacompanyprod01.dfs.core.windows.net/csv/SalesData_Modified.csv",
									"Properties": {
										"LinkedServiceName": "synapse-wrkspc-gc-WorkspaceDefaultStorage",
										"LocationSetToDatabaseDefault": false
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"SerDeInfo": null,
								"IsStoredAsSubdirectories": false
							},
							"Owner": null,
							"CreateTime": 0,
							"LastAccessTime": 0,
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false,
							"ViewOriginalText": null,
							"ViewExpandedText": null,
							"Origin": {
								"Type": "SPARK"
							},
							"OriginObjectId": null,
							"IsSharedEntity": false,
							"PublishStatus": "PUBLISHED",
							"Properties": {
								"Description": "",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "",
								"spark.sql.sources.provider": "csv",
								"spark.sql.sources.schema.numParts": "1",
								"spark.sql.sources.schema.part.0": "{\"type\":\"struct\",\"fields\":[{\"name\":\"C1\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}},{\"name\":\"C2\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}},{\"name\":\"C3\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}},{\"name\":\"C4\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}},{\"name\":\"C5\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}},{\"name\":\"C6\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}}]}"
							},
							"ObjectVersion": 1,
							"ObjectId": "2573d3fd-864b-4745-afb7-94027767e2c5",
							"Description": ""
						},
						"Source": {
							"Type": "SPARK"
						}
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ApSprkPool')]",
			"type": "Microsoft.Synapse/workspaces/bigDataPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"autoPause": {
					"enabled": true,
					"delayInMinutes": 15
				},
				"autoScale": {
					"enabled": false,
					"maxNodeCount": 10,
					"minNodeCount": 3
				},
				"nodeCount": 3,
				"nodeSize": "Small",
				"nodeSizeFamily": "MemoryOptimized",
				"sparkVersion": "3.5",
				"isComputeIsolationEnabled": false,
				"sessionLevelPackagesEnabled": true,
				"annotations": []
			},
			"dependsOn": [],
			"location": "westus"
		}
	]
}